<button (click)="openDialog()">click</button>

<mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Descrição</ng-template>
        <br>
        <p class="text-justify">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo
            utilizado desde o século XVI,
            quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos
            de tipos.
            Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica,
            permanecendo essencialmente inalterado.
            Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais
            recentemente quando
            passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </p>
        <div>
            <button mat-button matStepperNext>Continuar</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Selecionar as aplicações</ng-template>
        <p class="mt-2">Abaixo segue abaixo as experiências digitais que você pode ativar.</p>
        <p class="mt-2">Lembre se que no futuro você poderá ativar novas experiências conforme a sua necessidade.</p>
        <div class="row">
            <div class="col-lg-2 gmt-5 mb-5" *ngFor="let feature of features">
                <div class="m-0 rounded-top bg-info p-2 text-white text-left">
                    <i class="material-icons md-light text-center d-block mb-3 mt-2 font-very-large">face</i>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control font-small" placeholder="{{feature}}"
                            disabled="disabled" />
                    </div>
                </div>
                <div class="m-0 rounded-bottom bg-secondary p-2 text-white text-center d-block">
                    <a class="font-small text-white" (click)="openDialog()">
                        Informações
                    </a>
                </div>
            </div>
        </div>
        <div>
            <button mat-button matStepperNext>Continuar</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Concluído</ng-template>
        <br>
        <p class="text-justify">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo
            utilizado desde o século XVI,
            quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos
            de tipos.
            Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica,
            permanecendo essencialmente inalterado.
            Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais
            recentemente quando
            passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </p>
        <div>
            <button class="btn" (click)="redirect('/dashboard')">Continuar</button>
        </div>
    </mat-step>
</mat-vertical-stepper>